# Directory or file dibawah merupakan file yang harus di arsipkan
.runs/*
.dev/*

# Directory yang bisa berbeda tiap device
.venv/*
.conda/*
.vscode/*

# Directory yang kadang ada dimana-mana
*/_pycache_/